ul#footer-navigation-container
	background:
		image: url('../images/footer-bg-blurred.png')
		size: cover
		position: center
	padding: 68px 154px
	margin: 0px
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	list-style: none

	> li
		display: block
		margin-right: 17px
		padding: 0px

		&:last-of-type
			margin-right: 0px

		// text
		color: white
		font-size: 14px
		line-height: 21px

		> a
			color: white
			margin: 5px 0px
			font-size: 14px
			line-height: 18px
			font-weight: 700
			text-decoration: none

		> ul
			margin: 5px 0px
			padding: 0px
			color: rgba(255,255,255,0.8)
			list-style: none

			li a
				color: rgba(255,255,255,0.8)
				text-decoration: none
				&:hover, &active
					color: white
					text-decoration: underline
					cursor: pointer

@media screen and(max-width: 1180px)
	ul#footer-navigation-container
		padding: 51px

@media screen and(max-width: 900px)
	ul#footer-navigation-container
		padding: 34px

@media screen and(max-width: 760px)
	ul#footer-navigation-container
		padding: 22px 17px

@media screen and(max-width: 640px)
	ul#footer-navigation-container
		> li
			width: 100%