footer.site-footer
	background:
		image: url('../images/footer-bg-blurred.png')
		size: cover
		position: center
	padding: 68px 154px

	.footer-column
		display: block
		float: left
		max-width: 400px
		margin-right: 102px

		// text
		color: white
		font-size: 14px
		line-height: 21px

		h2
			margin: 5px 0px
			font-size: 14px
			line-height: 18px
			font-weight: 700

		p
			margin: 5px 0px
			color: rgba(255,255,255,0.8)

			a
				color: rgba(255,255,255,0.8)
				&:hover, &active
					color: white
					text-decoration: underline
					cursor: pointer

@media screen and(max-width: 930px)
	footer.site-footer
		padding: 50px

		p.footer-column
			margin-right: 68px

		p.social-links
			margin-right: 0px

@media screen and(max-width: 900px)
	footer.site-footer
		position: relative
		min-height: 350px
		padding: 34px

		p.footer-column
			margin-right: 34px

		p.social-links
			position: absolute
			top: 34px
			right: 34px
			margin-right: 0px

@media screen and(max-width: 770px)
	footer.site-footer
		p.footer-column
			margin-right: 0px
			float: none

@media screen and(max-width: 490px)
	footer.site-footer
		p.social-links
			position: absolute
			top: auto
			right: auto
			bottom: 17px
			left: 34px
			width: calc(100% - 68px)
			max-width: 320px

			a
				float: left
				margin-right: 2%
				width: 32%

				img
					width: 100%

				&:last-of-type
					margin-right: 0%