.text-card-container
	position: relative
	background: white
	margin: 34px 72px
	padding: 48px 82px

	.devider-50-50
		float: left
		width: 50%

		// text
		color: #222
		font-size: 14px
		line-height: 24px
		box-sizing: border-box

		&:nth-of-type(1)
			padding-right: 42px

		&:nth-of-type(2)
			padding-left: 42px

		h2, h3
			margin: 20px 0px 8px

		p
			margin: 8px 0px

		ul
			list-style-position: inside
			margin: 8px 0px
			padding: 0px


@media screen and (max-width: 980px)
	.text-card-container
		margin: 20px 34px
		padding: 20px 34px

		.devider-50-50
			&:nth-of-type(1)
				padding-right: 20px

			&:nth-of-type(2)
				padding-left: 20px

@media screen and (max-width: 880px)
	.text-card-container
		.devider-50-50
			float: none
			width: 100%

			&:nth-of-type(1)
				padding-right: 0px

			&:nth-of-type(2)
				padding-left: 0px

@media screen and (max-width: 720px)
	.text-card-container
		margin: 7px 7px
		padding: 1px 15px 15px

		.devider-50-50