@import "../animations"

.page-header-image
	height: 200px
	box-shadow: inset 0px -3px 5px -5px rgba(0, 0, 0, 0.4)
	background:
		size: cover
		position: 0px 0px

.page-heading-container
	display: inline-block
	bottom: -3px
	position: relative
	overflow: hidden
	box-shadow: 0px -3px 5px -5px rgba(0, 0, 0, 0.4)

	.heading-blurred-bg
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		transform: scaleY(2) scaleX(1.4)
		filter: blur(10px)

		// background
		background-position: -120px -100px

	.heaeding-bg-tint
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background: rgba(255,255,255,0.65)

	h1
		font-weight: 700
		font-size: 16px
		line-height: 30px
		padding: 10px 34px
		margin: 0px
		color: #333

		// animation
		@extend .showUp-animation-defaults

.page-content
	position: relative
	z-index: 1
	margin: 0 auto
	margin-top: -100px
	padding: 0px 120px 0px
	min-height: calc(100vh - 291px)

	a
		color: #448611
		text-decoration: none

		&:hover, &:active
			color: #4CA529
			text-decoration: underline

	ul
		list-style-position: inside
		margin: 8px 0px
		padding: 0px


	input, textarea
		font-family: inherit
		border-radius: 0px
		border: 1px solid #DDD
		box-shadow: none
		padding: 8px 12px
		max-width: 100%
		box-sizing: border-box

		&:focus
			border: 1px solid #AAA

#page-container

	.content-wrap
		padding: 34px 34px 68px
		background-color: white
		box-shadow: 0px -3px 5px -5px rgba(0, 0, 0, 0.4)

		.content-text
			//margin: 0 auto
			// text
			font-size: 14px
			color: #222
			line-height: 24px

			img
				max-width: 100%
				height: auto

			img.alignleft
				float: left
				margin: 0px 34px 34px 0px

			img.alignright
				float: right
				margin: 0px 0px 34px 34px

@media screen and(max-width: 1180px)
	.page-content
		padding: 0px 50px 0px

@media screen and(max-width: 780px)
	.page-content
		padding: 0px 17px 0px

	#page-container
		.content-wrap
			padding: 17px 17px 34px

			.content-text
				img.alignleft
					display: block
					float: none
					margin: 17px 0px 17px 0px

				img.alignright
					display: block
					float: none
					margin: 17px 0px 17px 0px

	.page-heading-container h1
		font-size: 14px
		line-height: 24px
		padding: 10px 17px

@media screen and(max-width: 640px)
	.page-content
		padding: 0px 0px 0px

	.page-heading-container
		display: block
		bottom: 0px

		.heading-blurred-bg
			filter: blur(10px)
			// background
			background-size: cover
			background-position: 0px -100px

