@charset "UTF-8";
.content-contacts {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}
.content-contacts .column-container {
  width: 42%;
  min-width: 512px;
  box-sizing: border-box;
}
.content-contacts .column-container#contacts-listing-container {
  width: 58%;
  padding-top: 17px;
  padding-left: 154px;
}
.content-contacts .map-container {
  position: relative;
  padding-top: 85%;
  background-image: url("../images/map-big.png");
  background-position: center;
  background-size: cover;
}
.content-contacts .map-container:hover #button-show-map {
  opacity: 1;
  transform: translateX(50%) translateY(0px);
}
.content-contacts .map-container #button-show-map {
  content: "otevřít mapu";
  display: block;
  position: absolute;
  bottom: -75px;
  padding: 10px 17px;
  background: white;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  right: 50%;
  transform: translateX(50%) translateY(15px);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.content-contacts .map-container #button-show-map:active {
  background: #DDD;
}
.content-contacts .map-container .point-to-loc-box {
  background-color: white;
  position: absolute;
  top: 7%;
  right: 120px;
  width: 300px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
}
.content-contacts .map-container .point-to-loc-box:after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: 50%;
  transform: translateX(50%) rotate(45deg);
  display: block;
  width: 30px;
  height: 30px;
  background-color: white;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
}
.content-contacts .map-container .point-to-loc-box .text-content {
  padding: 17px;
  position: relative;
  z-index: 2;
  background: white;
}
.content-contacts .map-container .point-to-loc-box h2 {
  font-size: 16px;
  margin: 0px;
  line-height: 24px;
}
.content-contacts .map-container .point-to-loc-box span {
  font-size: 12px;
}
.content-contacts .map-container .point-to-loc-box img {
  max-width: 100%;
  height: auto;
  display: block;
}
.content-contacts .devider-50-50:nth-of-type(2) {
  padding: 34px 68px;
}
