@media screen and (max-width: 1180px)
	.front-card-container
		.three-box-container .specialization-box
			//padding: 17px 17px 0px
			//margin: 34px 48px 34px 0px

@media screen and (max-width: 1020px)
	.front-card-container
		.card-content
			padding: 0px 50px

		.headline-container .headline-container-bg
			background:
				position: -60px -81px

@media screen and (max-width: 700px)
	.front-card-container
		.card-content
			padding: 0px 34px
		.headline-container
			padding: 17px
			// 34 + 68 - 1
			margin: 50px auto 20px

			.headline-container-bg
				background:
					position: -60px -81px

		span
			font-size: 18px
			line-height: 27px

		h1
			padding-bottom: 0px

			// text
			font-weight: 800
			font-size: 36px
			line-height: 48px

		.three-box-container .specialization-box
			width: 100%
			max-width: 300px
			float: none
			margin: 20px auto !important
			max-height: 100px

