// animations
@keyframes showUp
	from
		opacity: 0
		transform: translateY(25px)
	to
		opacity: 1
		transform: translateY(0px)

.showUp-animation-defaults
	opacity: 0
	transform: translateY(25px)
	animation-name: showUp
	animation-duration: 0.5s
	animation-fill-mode: forwards

.front-card-container
	background-color: white
	position: relative
	background-repeat: no-repeat
	background-position: top left
	padding-top: 1px

	background:
		position: cover

	.card-content
		padding: 0px 120px

	.headline-container
		position: relative
		padding: 34px 34px 17px
		display: inline-block
		border: 1px solid rgba(255,255,255,0.1)
		// 34 + 68 - 1
		margin: 81px 0px 34px
		overflow: hidden

		// animation
		@extend .showUp-animation-defaults

		// background
		background:
			position: -120px -81px

	.headline-text
		position: relative
		z-index: 1
		color: white

	span
		font-size: 22px
		line-height: 33px

	h1
		padding-bottom: 34px

		// text
		font-weight: 800
		font-size: 44px
		line-height: 54px
		text-align: left
		margin: 0px

	.three-box-container
		padding-bottom: 48px

		// animation
		@extend .showUp-animation-defaults
		animation-delay: 0.15s

		.specialization-box
			position: relative
			overflow: hidden
			border: 1px solid rgba(255,255,255,0.1)
			padding: 17px 17px 0px
			width: calc(100%  * 1/3 - 32px)
			box-sizing: border-box
			margin: 34px 48px 34px 0px
			float: left

			&:nth-of-type(3)
				margin-right: 0px

			.special-box-content
				h2
					margin: 0px 0px 7px
					// text
					font-weight: 600
					color: white
					font-size: 14px
					line-height: 24px
					text-align: center

				img
					transition: transform 0.2s
					transform: translateY(10px)
					border: 1px solid white
					border-bottom: 0px
					width: 100%
					height: auto
					display: block

		.specialization-box.first
			background:
				position: -120px -330px

		.specialization-box.second
			background:
				position: -483px -330px

		.specialization-box.third
			background:
				position: calc(100% * 2 + 48px * 2 + 120px * -1) -330px



@import "front-card-responsive.sass"
